@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Condensed:wght@300&family=Secular+One&display=swap");

html {
  box-sizing: border-box;
}

html * {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* .container {
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
  height: 100vh;
  max-width: 100vw;
} */

body {
  height: 100vh;
  /* line-height: 1.6;
  font-size: 1vw;
  max-width: 100vw; */
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
}

.header {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  /* margin: 0rem 4.25rem 0 0; */
}

.header__h1 {
  margin: 5rem 4.25rem 0 0;
  font-family: Secular One;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.09em;
  color: #ffffff;
}

.header__h3 {
  margin: 0rem 4.25rem 0 0;
  font-family: Lora;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.6em;
  color: #ffd029;
}

.main__content-styling {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.star__container {
  width: 10%;
}

.planets__container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Solen {
  position: relative;
  background-color: #ffd029;
  height: 78vh;
  width: 38.541vw;
  box-shadow: 0px 0px 250px 0px #ffd02933;
  border-radius: 100%;
  left: -38rem;
}

#Merkurius {
  background-color: #888888;
  height: 1.464vh;
  width: 0.729vw;
  border-radius: 100%;
}

#Venus {
  background-color: #e7cdcd;
  height: 2.72vh;
  width: 1.354vw;
  border-radius: 100%;
}

#Jorden {
  background-color: #428ed4;
  height: 2.72vh;
  width: 1.354vw;
  border-radius: 100%;
}

#Mars {
  background-color: #ef5f5f;
  height: 1.464vh;
  width: 0.729vw;
  border-radius: 100%;
}

#Jupiter {
  background-color: #e29468;
  height: 19.685vh;
  width: 9.791vw;
  border-radius: 100%;
}

#Saturnus {
  background-color: #c7aa72;
  height: 15.078vh;
  width: 7.5vw;
  border-radius: 100%;
}

.saturn__ring {
  position: relative;
  width: 11.354vw;
  height: 0.575vh;
  background-color: #ffffff66;
  border-radius: 100%;
  top: 4.1rem;
  right: 2.3rem;
  transform: rotate(-30deg);
}

#Uranus {
  background-color: #c9d4f1;
  height: 6.91vh;
  width: 3.437vw;
  border-radius: 100%;
}

#Neptunus {
  background-color: #7a91a7;
  height: 6.91vh;
  width: 3.437vw;
  border-radius: 100%;
}

/* Css for planet.html */

/* .side__planet {
  display: flex;
  background-color: #ffd029;
  height: 78vh;
  width: 38.541vw;
  box-shadow: 0px 0px 250px 0px #ffd02933;
  border-radius: 100%;
  left: -38rem;
} */

#description__name {
  font-family: Secular One;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.09em;
  text-align: left;
  color: #ffffff;
}

#description__latinName {
  font-family: Lora;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.6em;
  text-align: left;
  color: #ffd029;
}

.container * p {
  color: #ffffff;
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.container * h4 {
  font-family: Secular One;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.09em;
  text-align: left;
  color: #ffffff;
}
